# Dataframe packages
pandas
numpy

# Data visualization packages
matplotlib
seaborn
plotly

# Frontend packages
streamlit

# Video processing
opencv-python

# SQL packages
mysql-connector-python
SQLAlchemy
cryptography # authentication plug in

# Environment variables
python-dotenv

# Yolo
ultralytics

# Rag
langchain
langchain_community
langchain-experimental
langchain_google_genai
langchain_core
pydantic

# AI Chat
google-generativeai
google-genai
