# Dataframe packages
pandas
numpy

# Data visualization packages
matplotlib
seaborn
plotly

# Frontend packages
streamlit

# Video processing
opencv-python

# SQL packages
mysql-connector-python
pymysql
SQLAlchemy
cryptography # authentication plug in

dotenv

# Yolo
ultralytics

# Rag
langchain
langchain_community
langchain-ollama
langchain-experimental
ollama

# AI Chat
google-generativeai
